.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.box{
    width: 600px;
    height: 600px;
    background-color: aqua;
    overflow-x: scroll;
    display: flex;
    scroll-snap-type: x mandatory;
    
    
    
}
.durs{
    min-width: 595px;
    height: 595px;
    background-color: red;
    border: solid 1px black;
    justify-content: center;
   align-items: center;
   display: flex;
   font-size: 45px;
   scroll-snap-align: center;
}